<!-- code snippet for nav bar   -->
<nav class="navbar navbar-full navbar-fixed-top">
<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
  <div class="container">
  <div class="nav navbar-nav">
    <a class="nav-item navbar-brand" href="/">fred gibbs</a>
    <a class="nav-item nav-link" href="/about">about</a>
    <a class="nav-item nav-link" href="/resume">cv</a>
    <a class="nav-item nav-link" href="/assignments">portolio</a>
  </div>
  </div>
  </div>
</nav>
